In [1]:
import pandas as pd

df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')

print(df.head())

   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

In [2]:
animal_fat_2014 = df.groupby('Item')['Y2014'].sum()
animal_fat_2017 = df.groupby('Item')['Y2017'].sum()
print(animal_fat_2014.head(10))
print(animal_fat_2017.head(10))

Item
Alcohol, Non-Food            2403.00
Alcoholic Beverages        102410.11
Animal Products             11935.65
Animal fats                209460.54
Apples and products          9499.23
Aquatic Animals, Others        14.55
Aquatic Plants                507.29
Aquatic Products, Other       519.62
Bananas                     53267.31
Barley and products         25384.66
Name: Y2014, dtype: float64
Item
Alcohol, Non-Food            2348.00
Alcoholic Beverages         95581.06
Animal Products             11547.65
Animal fats                269617.53
Apples and products         10198.90
Aquatic Animals, Others         5.92
Aquatic Plants                452.02
Aquatic Products, Other       456.65
Bananas                     53008.82
Barley and products         26176.98
Name: Y2017, dtype: float64

In [3]:
print(df['Y2015'].mean())
print(df['Y2015'].std())

135.23596649549236
1603.4039839423301

In [4]:
missing = df['Y2016'].isna().sum()
percent_missing = (df['Y2016'].isna().sum() / df['Y2016'].sum()) * 100

In [5]:
print(df.groupby('Element Code').corr())

                        Area Code  Item Code     Y2014     Y2015     Y2016  \
Element Code
511          Area Code   1.000000        NaN  0.149348  0.149792  0.150292
             Item Code        NaN        NaN       NaN       NaN       NaN
             Y2014       0.149348        NaN  1.000000  0.999988  0.999951
             Y2015       0.149792        NaN  0.999988  1.000000  0.999987
             Y2016       0.150292        NaN  0.999951  0.999987  1.000000
...                           ...        ...       ...       ...       ...
5911         Y2014       0.005901   0.056301  1.000000  0.976942  0.992694
             Y2015       0.007883   0.050526  0.976942  1.000000  0.965195
             Y2016       0.006203   0.062306  0.992694  0.965195  1.000000
             Y2017       0.005156   0.063080  0.941934  0.863665  0.963790
             Y2018       0.004272   0.063211  0.942024  0.863140  0.963378

                           Y2017     Y2018
Element Code
511          Area Code  0.150840  0.151415
             Item Code       NaN       NaN
             Y2014      0.999885  0.999791
             Y2015      0.999947  0.999878
             Y2016      0.999986  0.999944
...                          ...       ...
5911         Y2014      0.941934  0.942024
             Y2015      0.863665  0.863140
             Y2016      0.963790  0.963378
             Y2017      1.000000  0.999409
             Y2018      0.999409  1.000000

[126 rows x 7 columns]

In [6]:
highest_import_quantity = df[df['Element'] = 'Import Quantity'].sum()

SyntaxError: invalid syntax (1837782147.py, line 1)

In [7]:
sum_of_production = df.groupby('Element')['Y2014'].sum()

In [8]:
highest_sum = df.groupby('Element')['Y2018'].sum()

In [9]:
lowest_sum_2018 = df.groupby('Element')['Y2018'].sum()

In [10]:
df['Area'].nunique()

49